
<h2>Flagged Questions</h2>
{{#if this.qflag.length}}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Flagged Times</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.qflag}}
   <tr>
      <td><a href='/questions/{{this._id}}'>{{this.title}}</a></td>
      <td>{{this.flag}}</td>
      <td>
        <form action='/communities/{{this.communitiyID}}/{{this._id}}/delete/flaggedque'>
          <button class="btn btn-danger" type='submit'>Delete</button>
        </form>
        <form action='/communities/{{this.communitiyID}}/{{this._id}}/unflagQuestion' method="post">
          <button class="btn btn-primary" type='submit'>Unflag</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  
{{else}}
  <p> There are no flagged Questions</p>
{{/if}}
{{#if error}}
  <p> {{error}}</p>
{{/if}}

<h2>Flagged Answers:</h2>
{{#if this.aflag.length}}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Answer</th>
      <th scope="col">Flagged Times</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.aflag}}
   <tr>
      <td><a href='/questions/{{this.questionId}}'>{{this.title}}</a></td>
      <td>{{this.flag}}</td>
      <td>
        <form action='/communities/{{this.communitiyID}}/{{this._id}}/delete/flaggedqans'>
          <button class="btn btn-danger" type='submit'>Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
{{else}}
  <p> There are no flagged answers</p>
{{/if}}
{{#if error}}
  <p> {{error}}</p>
{{/if}}

<br />
<br />
<br />
<h4><a href='/communities/{{this.communitiyID}}'>Back to community page</a></h4>