<header>
    <div>
        <h1>Questions related to "{{searchTerm}}"</h1>
    </div>
    <div>
        <h2>Total Results: {{searchTotal}}</h2>
    </div>
    {{#if result}}
    <div>
        <!-- List of questions with details -->
        {{#each searchResults}}
        <div>
            <p><a href="/questions/{{this._id}}">{{this.title}}</a></p>
            <p>{{this.description}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <button class="btn btn-secondary btn-sm" onclick="location.href ='/'">Home</button>
</header>