{{#if user}}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  {{!-- <a href="/users/{{user._id}}/edit"><button class="btn btn-info btn-sm" type="button">Edit</button></a> --}}
  <button class="btn btn-info btn-sm" type="button" onclick="location.href='/users/{{user._id}}/edit'">Edit</button>
</div>
<img alt="user" src="/public/images/userprofile/{{user.profileImage}}" id="profile_image">
<h1>{{user.displayName}}</h1>
<div>{{user.firstName}} {{user.lastName}}</div>
<div class="label">{{user.emailAddress}}</div><hr>

<h2>Subscribed Communities</h2>
{{#each subscribedCommunities}}
  <div><a href="/communities/{{this._id}}">{{this.name}}</a></div>
{{/each}}
<br>
<h2>Created Communities</h2>
{{#each adminCommunities}}
<div><a href="/communities/{{this._id}}">{{this.name}}</a></div>
{{/each}}
<br>
<h2>Answered Questions</h2>
{{#each answeredQuestions}}
<div><a href="/questions/{{this._id}}">{{this.title}}</a></div>
{{/each}}
<br>
<h2>Posted Questions</h2>
{{#each postedQuestions}}
<div><a href="/questions/{{this._id}}">{{this.title}}</a></div>
{{/each}}
<br><br>
{{/if}}
{{#if error}}
<p>{{ error }}</p>
{{/if}}