<h1>Edit Question</h1>
{{#unless error}}
{{#unless success}}
<form class="w-50 mx-auto" method="post" action="/questions/{{question._id}}" id="edit-ques">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" aria-describedby="title" value="{{question.title}}" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" id="" rows="3" required>{{question.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" name="tags" class="form-control" id="tags" aria-describedby="tags" value="{{question.tags}}" required>
    <small id="tagHelp" class="form-text text-muted">Enter more than one tags seprated by commas</small>
  </div>
  <div class="form-group">
    <label for="community">Community</label>
    <select class="form-control" name="communityId" id="community">
      {{#each com}}
        {{#if this.selected}}
        <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>
  <input hidden name="_method" value="PUT">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/unless}}
{{/unless}}
{{#if error}}
<div>{{error}}</div>
{{/if}}
{{#if success}}
<div>{{success}}</div><br>
<a href="/questions/{{id}}"><button class="btn">Go Back</button></a>
{{/if}}