<div>
    {{!-- Show only if current user if the poster of the question --}}
    <div class="card">
        <div class="card-body">
            {{#if currentUserPostedQuestion}}
                <h1>{{questionInfo.title}}</h1>
                <p>{{questionInfo.description}}</p>
                <div class="votingsystem">
                    {{#if thisUserUpvoted}}
                        <i class="fas fa-thumbs-up fa-2x upvote" data-id="/questions/{{questionInfo._id}}/upvote"></i>
                    {{/if}}
                    {{#unless thisUserUpvoted}}
                        <i class="far fa-thumbs-up fa-2x upvote" data-id="/questions/{{questionInfo._id}}/upvote"></i>
                    {{/unless}}
                    <span class="label label-primary border-around votecounter">{{ questionInfo.votes }}</span>
                    {{#if thisUserDownvoted}}
                        <i class="fas fa-thumbs-down fa-2x downvote" data-id="/questions/{{questionInfo._id}}/downvote"></i>
                    {{/if}}
                    {{#unless thisUserDownvoted}}
                        <i class="far fa-thumbs-down fa-2x downvote" data-id="/questions/{{questionInfo._id}}/downvote"></i>
                    {{/unless}}
                </div>
                <a>{{ post.title }}</a>
                <div class="card float-right">
                    <div class="card-header">
                        Question Details
                    </div>
                    <div class="card-body">
                        {{#if questionInfo.anonymous}}
                            <p>Posted Anonymously</p>
                        {{else}}
                            <p>Posted By: <a href="/users/{{questionPoster._id}}/profile">{{questionPoster.displayName}}</a></p>
                        {{/if}}
                        <p>Posted On: {{questionInfo.friendlyCreatedAt}}</p>
                        <p>Last Updated On: {{ questionInfo.friendlyUpdatedAt}}</p>
                    </div>
                </div>
            <br>
            {{#if userLoggedIn}}
            {{!-- <button class="btn btn-light"><a href="/questions/{{questionInfo._id}}/edit">Edit</a></button>
            <button class="btn btn-light"><a href="/questions/{{questionInfo._id}}/delete">Delete</a></button> --}}
            <button class="btn btn-light" onclick="location.href='/questions/{{questionInfo._id}}/edit'">Edit</button>
            <button class="btn btn-light" onclick="location.href='/questions/{{questionInfo._id}}/delete'">Delete</button>

                {{#if userReportedQuestion}}
                <span class="qbtn-place">
                    <button class="btn btn-secondary" disabled>Flagged For Review</button>
                </span>
                {{/if}}
                {{#unless userReportedQuestion}}
                <span class="qbtn-place">
                    <button class="btn btn-danger" id="reportQuestion"
                        data-id="/questions/{{questionInfo._id}}/report">Report</button>
                </span>
                {{/unless}}
            {{/if}}
        {{/if}}
        {{#unless currentUserPostedQuestion}}
        <h1>{{questionInfo.title}}</h1>
            <div class="card float-right">
                    <div class="card-header">
                        Question Details
                    </div>
                    <div class="card-body">
                        {{#if questionInfo.anonymous}}
                            <p>Posted Anonymously</p>
                        {{else}}
                            <p>Posted By: <a href="/users/{{questionPoster._id}}/profile">{{questionPoster.displayName}}</a></p>
                        {{/if}}
                <p>Posted On: {{questionInfo.friendlyCreatedAt}}</p>
                <p>Last Updated On: {{ questionInfo.friendlyUpdatedAt}}</p>
                </div>
        </div>
        <p>{{questionInfo.description}}</p>
        <div class="votingsystem">
                    {{#if thisUserUpvoted}}
                        <i class="fas fa-thumbs-up fa-2x upvote" data-id="/questions/{{questionInfo._id}}/upvote"></i>
                    {{/if}}
                    {{#unless thisUserUpvoted}}
                        <i class="far fa-thumbs-up fa-2x upvote" data-id="/questions/{{questionInfo._id}}/upvote"></i>
                    {{/unless}}
                    <span class="label label-primary  border-around votecounter">{{ questionInfo.votes }}</span>
                    {{#if thisUserDownvoted}}
                        <i class="fas fa-thumbs-down fa-2x downvote" data-id="/questions/{{questionInfo._id}}/downvote"></i>
                    {{/if}}
                    {{#unless thisUserDownvoted}}
                        <i class="far fa-thumbs-down fa-2x downvote" data-id="/questions/{{questionInfo._id}}/downvote"></i>
                    {{/unless}}
        </div><br>
        {{#if userLoggedIn}}
            {{#if userReportedQuestion}}
            <div class="qbtn-place">
                 <button class="btn btn-secondary" disabled>Flagged For Review</button>
            </div>
            {{/if}}
            {{#unless userReportedQuestion}}
            <div class="qbtn-place">
               <button class="btn btn-danger" id="reportQuestion" data-id="/questions/{{questionInfo._id}}/report">Report</button>
            </div>
            {{/unless}}
        {{/if}}  
        {{/unless}}
        <hr>
        {{#each questionInfo.tags}}
        <span class="badge badge-pill badge-info">{{this}}</span>
        {{/each}}
        </div>
        </div>
<hr>

    {{#if questionInfo.answers.length}}
    <h2>Answers</h2>
    <ul class="list-group card border-0">
        {{#each questionInfo.answers}}    
        <li class="list-group-item p-0 mb-1">
            <p class="h3 font-weight-normal card-body">{{{this.description}}}</p>
            {{#if this.comments.length}}
        <div class="m-2 p-2">
            <h5>Comments</h5>
            {{#each this.comments}}
            <p>{{this.commentText}}</p>
            {{/each}}
        </div>
        {{/if}}
            {{#if acceptedAnswer}}
            <div class="alert alert-success mb-0"><i class="fas fa-user-check fa-lg"></i> This answer has been accepted by the question poster</div>
            {{/if}}
            <div class="card-header voting-bar border-0">
                <div class="float-right">
                {{!-- upvote and downvote containers for answer --}}
                {{#if thisUserUpvotedAns}}
                    <i class="fas fa-thumbs-up ans-up" data-id="/questions/{{../questionInfo._id}}/answers/{{this._id}}/upvote"></i>
                {{/if}}
                {{#unless thisUserUpvotedAns}}
                    <i class="far fa-thumbs-up ans-up" data-id="/questions/{{../questionInfo._id}}/answers/{{this._id}}/upvote"></i>
                {{/unless}}
                    <span class="label border-around label-primary ans-votecounter">{{this.voteCount}}</span>
                {{#if thisUserDownvotedAns}}
                    <i class="fas fa-thumbs-down ans-down" data-id="/questions/{{../questionInfo._id}}/answers/{{this._id}}//downvote"></i>
                {{/if}}
                {{#unless thisUserDownvotedAns}}
                    <i class="far fa-thumbs-down ans-down" data-id="/questions/{{../questionInfo._id}}/answers/{{this._id}}/downvote"></i>
                {{/unless}}
            </div>
            
            {{#if this.displayName}}
                <p class="lead m-2"><strong>Posted By </strong> <a href="/users/{{this.posterId}}/profile">{{this.displayName}}</a></p>
            {{/if}}
            {{#unless this.displayName}}
                <p class="lead">Posted By <strong>Unknown User</strong></a></p>
            {{/unless}}
            <div class="btn-group m-2">
                {{#if posterUser}}
                <form method="post" action="/questions/{{../questionInfo._id}}/acceptedAnswer/{{this._id}}">
                <button type="submit" class="btn btn-sm btn-light mr-2">Accept Answer</button>
                </form>
                {{/if}}
                {{#if currUser}}
                {{!-- <a href='/questions/{{../questionInfo._id}}/answers/{{this._id}}/edit'><button
                        class="btn btn-sm btn-light">Edit</button></a>&nbsp; --}}
                <button class="btn btn-sm btn-light" onclick="location.href='/questions/{{../questionInfo._id}}/answers/{{this._id}}/edit'">Edit</button>
                <form method="post" action="/questions/{{../questionInfo._id}}/answers/{{this._id}}">
                    <button type="submit" class="btn btn-sm btn-light mr-2">Delete</button>
                    <input name="_method" type="hidden" value="delete">
                </form>
                
            {{/if}}
                {{#if userLoggedIn}}
                <button id="{{this._id}}" type="button" onclick="openModal(this)" class="btn_comment_modal mr-2">Add comment</button>
                <div class="modal" id="commentModal{{this._id}}">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="commentContent{{this._id}}" method="post"  action="/questions/{{../questionInfo._id}}/answer/{{this._id}}/createComment">
                            <input name="commentText" id="commentText{{this._id}}" class="form-control w-100" required>
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal(this)">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div><!-- /.model-content -->
                    </div><!-- /.model-dialog -->
                </div><!-- /.modal -->
                {{!-- <button id="{{this._id}}" type="button" onclick="openModal(this)" class="btn_comment_modal btn-sm btn-light">Add comment</button> --}}
                {{#if this.thisUserReportedAns}}
                    <br>
                    <div class="btn-place">
                 <button class="btn btn-secondary btn-sm" disabled>Flagged For Review</button>
                </div>
                {{/if}}
                {{#unless this.thisUserReportedAns}}
                <div class="btn-place">
                    <button class="btn btn-danger btn-sm report-ans" data-id="/questions/{{../questionInfo._id}}/answers/{{this._id}}/report">Report</button>
                </div>
                </div>
            
            {{/unless}}
        {{/if}}  
            </div>
        </li>
    {{/each}}
    
</ul>
{{/if}}
</div>

            
<hr>

{{#if userLoggedIn}}
<h2>Post your answer here</h2>
    {{!-- build a rich text box to submit answer --}}
    {{!-- action need to modify --}}
    <form id="add-ans" action="/questions/{{questionInfo._id}}/answers/create/" class="input-group d-inline-block"
        method="post">
        <textarea name="description" id="description" class="form-control w-100" rows="3" aria-label=""
            required></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br><br>
    <div class="alert alert-warning alert-dismissible fade hide" id="ans-err" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    {{#unless userLoggedIn}}
    <h3>Contribute to this discussion by <a href="/site/login">logging in here.</a></h3>
    {{/unless}}

    {{!-- {{#if userLoggedIn}}
            <div class="modal" id="commentModal{{this._id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="commentContent{{this._id}}" method="post"  action="/questions/{{../questionInfo._id}}/answer/{{this._id}}/createComment">
                            <input name="commentText" id="commentText{{this._id}}" class="form-control w-100" required>
                            <br>
                            <button type="button" id="close{{this_id}}" class="btn btn-default" data-dismiss="modal" onclick="closeModal(this)">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div><!-- /.model-content -->
                </div><!-- /.model-dialog -->
            </div><!-- /.modal -->
            {{/if}} --}}