

<article class="new-question">
  <h1>Ask a Question</h1>
  <form action="/questions" name="new_question" method="POST" onsubmit="return validateCommunity()" class="new-question-form d-table mx-auto w-50">
  <div class="form-group">
        <label for="community">  Community </label>
        <br>
        <select class="full-width-input form-control" id= "community" name="community">
      <option value ="">Select community...</option>
      {{#each this.com}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    </div>
    <div class="form-group">
      <div class="btn btn-light form-group" id="toggle-qcreate-comm">Quick Create Community</div>
    </div>
    <div class="card" id="comm-qcreate" hidden>
      <div class="card-body">
        {{!-- <form action="/communities/create/new" method="POST"> --}}
          <div class="form-group">
            <label for="qc-name">Name of the community</label>
            <input type="text" class="form-control" id="qc-name"  name="communityName" placeholder="Enter name of the community here">
            </div>
            <div class="form-group">
            <label for="qc-desc">A brief description about the community</label>
            <input type="text" class="form-control" id="qc-desc" name="communityDesc" placeholder="Enter a brief description about the community here">
          </div>
          
          <div class="form-group">
            <input class = "btn btn-primary float-right" id="create-comm-btn" type="submit" value="Quick Create">
          </div>
          <br>
            
      <div class="alert alert-warning" id="showQcErr" hidden role="alert">
              You should check in on some of those entered fields.
            </div>
        {{!-- </form> --}}
      </div>
    </div>
    <br>
    <label for="title">Title</label>
      <input type="text" id="title" name="title" placeholder="Enter Title" value="{{title}}" class="full-width-input form-control" required/>
    
   <br>
    <label for="description">Description</label>
      <textarea id="description"  rows="6"  name="description" placeholder="Enter Description" class="full-width-input form-control" required>{{description}}</textarea>
  <br>
    <label for="tags">Tags</label>
      <input type="text" name="tags" id="tags" placeholder="Tags seprated by spaces" value="{{tags}}" class="full-width-input form-control" required/>
    <br>
      <input class="" name="anonymous" type="checkbox" value="true" id="flexCheckDefault">
      <label class="ml-2" for="flexCheckDefault">Post Anonymously</label>  
    <br><br>
    <label> 
        <button class="btn btn-primary w-100" id="b" type="submit">Submit</button>
    </label> 
  </form><br><br>



{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>
<script src="/public/js/askQuestion.js"></script>
